[Unit]
Description=Fcitx5 Input Method Framework
Documentation=https://fcitx-im.org/wiki/Fcitx_5
After=dbus.socket
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5 --replace -d
Restart=always
RestartSec=3
#Environment=GTK_IM_MODULE=fcitx5
#Environment=QT_IM_MODULE=fcitx5
#Environment=XMODIFIERS=@im=fcitx5

[Install]
WantedBy=graphical-session.target
